<html>

<head>
  <title>Google Signin!</title>
</head>

<body>
  <h1>Welcome to auth0 sign-in</h1>
  <a href="/auth0/login" id="login">
    Login
  </a>
  <a href="/auth0/logout" id="logout">
    Logout
  </a>
</body>

</html>;